.button {
  justify-self: stretch;
  padding: 14px 26px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  background-color: @corporate_color;
  color: @basic_white;
  border: inherit;
}
