// Footer-bottomline

.footer-bottomline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
  }
}

.footer-bottomline__logo {
  text-align: center;
  padding-bottom: 30px;
}

.footer-bottomline__copyright {
  margin-bottom: 32px;
}

.footer-bottomline__copyright a {
  text-transform: none;
}
