// Footer-bottomline

.footer-bottomline {
  display: grid;
  padding: 40px 0 20px;
}

.footer-bottomline__logo {
  padding-bottom: 30px;
}

.footer-bottomline__copyright a {
  text-transform: none;
}
