// Map

.map--index {
  background-color: @basic_white;
}

.map__headline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
}

.map__invitation {
  font-size: 16px;
  text-transform: uppercase;
}

.map-footer__adress {
  line-height: 20px;
  color: @special_dark-grey;
}

.map__img {
  display: block;
  margin: auto;
}
