.page-header {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr 1fr;
  padding: 12px 20px 30px;
}

.page-header__logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
