// Promo

.promo {
  color: @basic_green;
}

.promo__title {
  width: 250px;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.promo__button {
  justify-self: center;
}
